*{
    box-sizing: border-box;
    color: slategrey;
}

body{
    margin:0;
    padding: 0;

}

.nav ul{
    margin: 0;
}

.nav li{
    display: inline;
}

.nav a{
    display: inline-block;
    padding: .5em;
    color:white;
    text-decoration: none;
}

.main-nav{
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255,.3);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    overflow: hidden;
    background-color: rgba(149, 192, 240, 0.5);
}

.main-nav li{
    padding: 0 5%;
}

.nav a:hover{
   background-color: rgba(255, 255, 255,.3)
}

.main-header
{   background-color: rgba(0,0,0,.6);
    background-image: url(header1.jpg );
    background-size: cover;
    min-height: 15em;
    background-blend-mode: multiply;
    padding-bottom: 30px;
    overflow: hidden;

    
}

.name{
    text-align: center;
    margin: 0;
    font-size: 4em;
    color: snow;
    margin-top: 2em;
    font-family: ;
}

.main-footer{
    display: flex;
    background-color: rgba(54, 46, 46, 0.3);
    
}

.cart{
    align-items: center;
}

.content-section {
    margin: 1em;
}


.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flexbox;
}



.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}


.columnA{
    float: left;
    width: 70%;
    padding: 10px;
    padding-bottom:2em ;
    
  }

  .columnB{
    float: right;
    width: 30%;
    padding: 10px;
    padding: 2em;
    padding-top: 5em;
   
  }


 
  

  .btn{
      
      text-align: center;
      vertical-align: middle;
      padding: .67em .67em;
      cursor: pointer;
  }

  .btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
  }


  tr, td {
    padding: 15px;

  }
  
 